<div class="container1">
<div class="row">
    <p class="books">
    <span style="color: brown"><b>"BOOKFINDER"</b> </span>is a website which displays books <br>with the details based on the search option! 
    </p>
    <p class="books1">
    <b>Search the full text of books !!</b><br>Find the perfect book for your purposes and<br> discover new ones that interest you.
    </p>

</div>

</div>
